body {
    margin-top: 0px;
}

#containter {
    font-size: 11pt;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    line-height: 12pt;
    margin-left: auto;
    margin-right: auto;
}

@media screen {
    #containter {
        width: 680px;
    }
}

.grey {
    color: #666666;
}

#header {
    width: 100%;
    text-align: left;
    border-bottom: solid 1px #000;
}

a:link,
a:visited {
    color: #666;
    text-decoration: underline;
}

p {
    margin: 0;
    margin-left: 1em;
}

.p_more_indent {
    margin: 0;
    margin-left: 2em;
}

.relevant {
    font-style: oblique;
}

.project_sub {
    margin: 0;
    margin-left: 1em;
}

.clear {
    clear: both;
}

h1 {
    margin-bottom: 15pt;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40pt;
    line-height: 0pt;
    letter-spacing: 1px;
    text-align: right;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 0.1em;
    margin-bottom: 0.4em;
    font-weight: 300;
    font-size: 13pt;
    color: #666;
}

ul {
    margin-top: 1pt;
    margin-bottom: 6pt;
}

li {
    margin-top: 0.2em;
}

li strong {
    color: #878787;
}

.location {
    float: right;
    font-size: 10pt;
    color: #000;
}

.date {
    font-family: 'Open Sans', sans-serif;
    float: right;
    font-size: 10pt;
    color: #878787;
}

#section_activities {
    /*page-break-before: always;*/
}

.section_sub {
    margin-bottom: 10px;
}

.activity_header {
    font-family: 'Open Sans', sans-serif;
    color: #666;
}

.activity_header strong {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    /*font-weight: 600;*/
    color: #000;
    /*#761F1F;*/
}

.activity_header_sub {
    font-size: 10pt;
}

.header-left {
    width: 40%;
    float: left;
}

.header-right {
    width: 60%;
    float: left;
    text-align: right;
}

.small-caps {
    font-variant: small-caps;
}

hr {
    margin-top: -3px;
    margin-bottom: 3px;
    color: black;
}
